:root {
    --purple: #1A0B2E;
    --light-purple: #230E3D;
    --green: #00FF88;
}
.bg-purple {
    background: var(--purple);
}
.bg-purple-light {
    background: var(--light-purple);
}
.color-green {
    color: var(--green);
}
.font-inter {
    font-family: "Inter", sans-serif;
}
.btn-primary {
    background: linear-gradient(45deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: white;
    font-size: 16px;
    line-height: 1em;
    height: 44px;
    padding: 0 17px;
    cursor: pointer;
    border-radius: 22px;
    background-size: 100% 100%;
    background-position: left center;
    transition-duration: 500ms;
}
.btn-primary img {
    width: 20px;
}
.btn-primary:hover {
    background-size: 200% 200%;
    background-position: right top;
}
.btn-primary.btn-primary_green {
    background: none;
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
}
.btn-primary.btn-primary_green:hover {
    background-color: rgba(255,255,255,.1);
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.navigation {
    border-bottom: 1px solid #412567;
}
nav ul li a {
    transition-duration: 500ms;
}
nav ul li a:hover {
    color: rgba(251, 9, 180, 1);
}


.banner {
    padding: 100px 0;
    background: url(../assets/hero-bg.png) center center no-repeat;
    background-size: cover;
}
.mic-container {
    width: 350px;
    height: 350px;
    border: 8px solid #2A186C;
    background: linear-gradient(45deg,rgba(247, 233, 63, 1) 15%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 82%);
}
.mic-container .new {
    background: var(--green);
    border-radius: 20px;
    line-height: 1em;
    padding: 10px 16px;
    box-shadow: 0 3px 27px 0 rgba(0,255,136,.5);
    position: absolute;
    top: 4px;
    left: 70%;
}

.about-top {
    padding: 50px 0 80px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.about-info-grid {
    padding: 80px 0 120px;
}

.why-choose-techwave {
    padding: 120px 0;
}


.grid-cards {
    background: rgba(53, 17, 101, .4);
    border-radius: 40px;
    padding: 40px;
}
.grid-cards-long {
    grid-row: span 2;
    justify-content: center;
}
.grid-card-wide {
    grid-column: span 2;
}

.featured-episodes {
    padding: 120px 0;
}
.episode-video {
    display: block;
    padding-bottom: 56.25%;
}
.episode-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}